@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 11.383px;
}
.root {
  width: 100%;
  height: 100vh;
}
.meal_check {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(180deg, #078f91, #19b6b6);
}
.in_meal {
  display: flex;
  width: 75rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.meal_header {
  display: flex;
  align-items: center;
  width: 75rem;
  height: 9.375rem;
  justify-content: space-between;
}
.white_logo-name {
  display: flex;
  align-items: center;
}
.header_logo-name {
  width: 3.4375rem;
  height: 3.4375rem;
}
.header_name {
  color: white;
  font-family: "NanumSquareEB", sans-serif;
  margin-left: 3.125rem;
  font-size: 1.875rem;
}
