* {
  margin: 0;
  padding: 0;
  background: #10a3a4;
  box-sizing: border-box;
}
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.container {
  display: flex;
  height: 100vh;
}
