@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 11.383px;
}
.root {
  width: 100%;
  height: 100vh;
}
.meal_check {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(180deg, #078f91, #19b6b6);
}
.in_meal {
  display: flex;
  width: 75rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.meal_header {
  display: flex;
  align-items: center;
  width: 75rem;
  height: 9.375rem;
  justify-content: space-between;
}
.header_logo-name {
  display: flex;
  align-items: center;
}
.header_logo {
  width: 3.4375rem;
  height: 3.4375rem;
}
.header_name {
  color: white;
  margin-left: 3.125rem;
  font-size: 1.875rem;
  font-family: "NanumSquareEB", sans-serif;
}
.header_list {
  display: flex;
  height: 100%;
  width: 38.375rem;
  justify-content: space-between;
  align-items: center;
  font-family: "NanumSquareEB", sans-serif;
}
.header_button {
  color: white;
  text-decoration-line: none;
}
.header_login_button {
  color: white;
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background-color: #19b6b6;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}
.meal_box {
  display: flex;
  width: 100%;
  height: calc(100vh - 9.375rem);
  align-items: center;
}
.meal_box_right {
  width: 27.375rem;
  height: auto;
}
.meal_box_left {
  width: 45.75rem;
  height: 35.0625rem;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
}
.meal_box_head {
  display: flex;
  height: 6.125rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.meal_box_header_title {
  color: white;
  font-size: 3rem;
  font-family: "NanumSquareEB", sans-serif;
  margin-bottom: auto;
  font-weight: bold;
}
.meal_box_header_date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  font-family: "NanumSquareB", sans-serif;
  margin-bottom: auto;
}
.meal_box_mid {
  display: flex;
  width: 100%;
  height: 23.875rem;
  align-items: center;
  justify-content: space-between;
}
.meal_card {
  width: 13.7rem;
  height: 19.75rem;
  background-color: rgb(12, 151, 153);
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}
.meal_box_button {
  display: flex;
  align-items: center;
  height: 3.5rem;
}
.date_change_button {
  background-color: white;
  color: #19b6b6;
  height: 3.125rem;
  width: 9.375rem;
  border-radius: 100px;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin-right: 2.5rem;
  font-family: "NanumSquareEB", sans-serif;
}
.meal_card_header {
  color: white;
  font-family: "NanumSquareEB", sans-serif;
  font-size: 1.5rem;
  top: 10%;
}
.meal_card_body {
  display: flex;
  font-family: "NanumSquareEB", sans-serif;
  color: white;
}
