* {
  margin: 0;
  padding: 0;
}
#header_bar {
  display: flex;
  background-color: #202020;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.header_left:first-of-type {
  margin-left: 30px;
}

.header_left {
  color: #bdc1c6;
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  text-decoration: none;
  padding: 5px;
  margin: 0px 5px 0px 5px;
}
.header_left:hover {
  text-decoration: underline;
}

.header_right {
  color: white;
  font-size: 13px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  padding: 5px;
}
.header_right:hover {
  text-decoration: underline;
}
.header_right:last-of-type {
  margin-right: 30px;
}

#body {
  background-color: #202020;
  display: flex;
  justify-content: center;
}

.body_mid {
  display: flex;
  height: calc(100vh - 247.5px);
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 272px;
  height: auto;
}

.logopos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchimg {
  width: 20px;
  height: auto;
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));
  align-items: center;
  margin-left: 20px;
}

.searchframe {
  border: 1px solid gray;
  border-radius: 100px;
  width: 584px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.textbox {
  align-items: center;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  color: white;
  outline: none;
  width: 403px;
  height: 34px;
  font-size: 16px;
}

.footer_container {
  background-color: #171717;
  height: auto;
}

.location_box {
  padding: 15px 30px 15px 30px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  font-size: 14px;
  color: #bdc1c6;
  display: flex;
  border-bottom: 1px solid #3c4043;
}

.body_bot {
  display: block;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
}

.footer_left {
  color: #bdc1c6;
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  text-decoration: none;
  padding: 15px 15px 15px 15px;
}
.footer_left:hover {
  text-decoration: underline;
}
.footer_left:first-of-type {
  margin-left: 20px;
}

.footer_right {
  color: #bdc1c6;
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  text-decoration: none;
  padding: 15px 15px 15px 15px;
}
.footer_right:hover {
  text-decoration: underline;
}
.footer_right:last-of-type {
  margin-right: 30px;
}
